@use 'variaveis';

.header{
    background-color: variaveis.$corBackgroundHeader;
    padding: 0 120px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        max-height: 52px;
        height: 100%;
    }

    &__links{
        display: flex;

        &__item{
            font-size: 24px;
            margin-left: 12px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}