@use 'variaveis';

.header{
    background-color: variaveis.$corBackgroundHeader;
    padding: 0 120px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:768px){
            padding: 0;
        }
    }

    &__logo{
        max-height: 52px;
        height: 100%;

        @media(max-width:768px){
            height: 5vh;
        }
    }

    &__links{
        display: flex;

        @media(max-width:768px){
            display: none;;
        }

        &__item{
            font-size: 24px;
            margin-left: 12px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}