@use 'header';
@use 'variaveis';
@use 'initial';
@use 'film';
@use 'news';
@use 'footer';

@font-face{
    font-family: Toruk;
    src: url(../../assets/fonts/torukscregular-z8ma1.ttf);
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Toruk, sans-serif;
    list-style: none;
}

body{
    background-color: variaveis.$corBackground;
    list-style: none;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario
}

.text--small{
    @include text(14px);
    color: variaveis.$corTexto;

    @media(max-width:768px){
        @include text(16px);
        color: variaveis.$corTexto;
    }
}

.text{
    @include text;
    color: variaveis.$corTextoSecundario;

    @media(max-width:768px){
        @include text(18px);
    }
}

.text--big{
    @include text(20px);
    font-size: bold;
    color: variaveis.$corTextoSecundario;

    @media(max-width:768px){
        @include text(20px);
    }
}

.title{
    @include title;

    @media(max-width:768px){
        @include title(32px);
    }
}

.divider{
    margin: 18px 0;
    display: flex;
    justify-content: center;
    
    img{
        height: 70px;
    }

    @media(max-width:768px){
        height: auto;
    }
}

.container{
    padding: 0 120px;
    margin-bottom: 32px;

    @media(max-width:768px){
        padding: 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}