@use 'header';
@use 'variaveis';
@use 'initial';
@use 'film';
@use 'news';

@font-face{
    font-family: Toruk;
    src: url(../../assets/fonts/torukscregular-z8ma1.ttf);
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Toruk, sans-serif;
    list-style: none;
}

body{
    background-color: variaveis.$corBackground;
    list-style: none;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario
}

.text{
    @include text;

    @media(max-width:768px){
        @include text(14px);
    }
}

.text--big{
    @include text(20px);
    font-size: bold;
    color: variaveis.$corTextoSecundario;

    @media(max-width:768px){
        @include text(15px);
    }
}

.title{
    @include title;

    @media(max-width:768px){
        @include title(24px);
    }
}

.divider{
    margin: 18px 0;
    display: flex;
    justify-content: center;
    img{
        height: 70px;
    }
}
